container_commands:
  01-start_queue:
    command: "systemctl restart laravel_worker"
files:
  "/etc/php.d/project.ini" :
    mode: "000644"
    owner: root
    group: root
    content: |
      upload_max_filesize=10M
      post_max_size=200M
      max_file_uploads=300
  /etc/systemd/system/laravel_worker.service:
    mode: "000755"
    owner: root
    group: root
    content: |
      # Laravel queue worker using systemd
      # ----------------------------------
      #
      # /lib/systemd/system/queue.service
      #
      # run this command to enable service:
      # systemctl enable queue.service

      [Unit]
      Description=Laravel queue worker

      [Service]
      User=nginx
      Group=nginx
      Restart=always
      ExecStart=/usr/bin/nohup /usr/bin/php /var/app/current/artisan queue:work --queue=chapters

      [Install]
      WantedBy=multi-user.target